.jsf-applicant-portlet .uploaded-files table {
    width: 100%;
}

.jsf-applicant-portlet .uploaded-files th, .uploaded-files td {
    padding-left: 4px;
    padding-right: 4px;
}

.jsf-applicant-portlet .hasDatepicker {
	width: 165px;
}

.ui-fileupload-filename {
    word-break: unset !important;
}